<!-- Banner -->
<mat-card class='landing-page-banner'>
  <div class='row full-height'>
    <div class='col-md-5'>
      <div class='koala-logo-container'>
          <img src="../../assets/images/koala-logo/koala-lg.png" alt="air KOALAty report koala logo" class='koala-logo-img'>
      </div>
    </div>
    <div class='col-md-7'>
      <div class='banner-content-container'>
        <div class='banner-content-background'>
            <h1 class='banner-title'>Air <span class='koala-text'>KOALA</span>ty Report</h1>
            <p>
              Many people don't know the quality of the air they are breathing. 
              This website helps fix this problem by showing the Air Quality Index (AQI) and weather of different cities.
            </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Photo Credit -->
  <a href='https://unsplash.com/@photoholgic' class='photo-credit-link' target='_blank'><p class='photo-credit'>Photo by Holger Link on Unsplash</p></a>
</mat-card>

<div class='landing-button'>
  <button mat-raised-button color="primary" routerLink='/geo'>
    Get your AQI <i class="material-icons">chevron_right</i>
  </button>
</div>