<mat-card class='contact-card'>
  <mat-card-header>
      <h1 class='contact-header'>Contact the creater of this website</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class='row'>
      <div class='col-md-6 contact-description'>
        <p>
          This website was made by David Nelson. He is available for remote work.
        </p>

        <p>
          If you have any questions or comments, please contact him at <a href='mailto:airkoalatyreport@gmail.com' target='_blank'>airkoalatyreport@gmail.com</a>.
        </p>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <!-- Email Icon -->
          <div class='col-4 contact-icon-container'>
            <a href='mailto:airkoalatyreport@gmail.com' target='_blank'>
              <button mat-flat-button>
                <i class='fas fa-envelope fa-3x contact-icons'></i>
              </button>
            </a>
          </div>
          <!-- Linkedin Icon -->
          <div class='col-4 contact-icon-container'>
            <a href='https://www.linkedin.com/in/david-nelson-dnel9281' target='_blank'>
              <button mat-flat-button>
                <i class='fab fa-linkedin fa-3x contact-icons'></i>
              </button>
            </a>
          </div>
          <!-- Github Icon -->
          <div class='col-4 contact-icon-container'>
            <a href='https://github.com/dnel9281/air-koalaty-report' target='_blank'>
              <button mat-flat-button>
                <i class='fab fa-github-square fa-3x contact-icons'></i>
              </button> 
            </a>                           
          </div>
        </div>
      </div>
    </div>        
  </mat-card-content>
</mat-card>