<mat-card class='weather-card'>
  <div *ngIf='aqi'>
    <!-- Button to change measurements -->
    <button mat-icon-button (click)='toggleImperialAndMetric()' class='temp-and-speed-button'>
      <span *ngIf='!isImperialSelected' class='underline'>mi/&deg;F</span>
      <span *ngIf='isImperialSelected' class='underline'>km/&deg;C</span>
    </button>

    <div class='row weather-full-height'>
      <div class='col-6 weather-flex-column'>
        <!-- Weather Icon -->
        <div class='weather-icon-container'>
          <img src='../../assets/images/weather-icons/{{aqi.current.weather.ic}}.png' alt='current weather icon' class='weather-icon'>
        </div>

        <!-- Wind Speed -->
        <div class='weather-content'>
          <h3>
            <span *ngIf='isImperialSelected'><span class='weather-numbers'>{{windSpeedInMiles}}</span> <span class='units'>mph</span></span>
            <span *ngIf='!isImperialSelected'><span class='weather-numbers'>{{windSpeedInKilometers}}</span> <span class='units'>kmph</span></span>    
          </h3>
          <p class='weather-subtitle'>Wind Speed</p>
        </div>
      </div>


      <div class='col-6 weather-flex-column'>
        <!-- Temperature -->
        <div class='weather-content'>
          <h3>
            <span *ngIf='isImperialSelected'><span class='weather-numbers'>{{tempInFahrenheit}}</span> <span class='units'>&deg;F</span></span>
            <span *ngIf='!isImperialSelected'><span class='weather-numbers'>{{tempInCelsius}}</span> <span class='units'>&deg;C</span></span> 
          </h3>
          <p class='weather-subtitle'>Temperature</p>
        </div>

        <!-- Humidity -->
        <div class='weather-content'>
          <h3>
            <span class='weather-numbers'>{{aqi.current.weather.hu}}</span><span class='units'>%</span>
          </h3>
          <p class='weather-subtitle'>Humidity</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Progress Spinner -->
  <div *ngIf='loading'>
    <mat-spinner class='aqi-spinner'></mat-spinner>
  </div>
</mat-card>