<div class='content'>
  <!-- Search for a city -->
  <app-city-search
    (aqi)='onAqi($event)'
    (firstSearchInitiated)='onFirstSearchInitiated($event)'
    (loading)='onLoading($event)'
    (errorMessage)='onErrorMessage($event)'
  ></app-city-search>

  <!-- Card that shows city info -->
  <app-aqi-card 
    *ngIf='aqi'
    [aqi]='aqi' 
    [errorMessage]='errorMessage'
    [loading]='loading'
  ></app-aqi-card>
  
  <button mat-stroked-button color='primary' (click)='addCity()' [disabled]='!aqi' *ngIf='aqi'>
    Add this city
  </button>
</div>

