<!-- Search for a city -->
<app-city-search
  (aqi)='onAqi($event)'
  (firstSearchInitiated)='onFirstSearchInitiated($event)'
  (loading)='onLoading($event)'
></app-city-search>

<!-- Display when no city has been searched -->
<mat-card *ngIf='!firstSearchInitiated'>
  <h2>Search for a city to add to your list.</h2>
</mat-card>

<!-- Card that shows city info -->
<div class='row'>
  <div class='col-md-5'>
    <app-aqi-card 
      *ngIf='firstSearchInitiated'
      [aqi]='aqi' 
      [loading]='loading'
    ></app-aqi-card>
  </div>

  <div class='col-md-5 list-add-weather-spacing'>
    <app-weather-card
      *ngIf='firstSearchInitiated'
      [aqi]='aqi'
      [loading]='loading'
    ></app-weather-card>

    <div *ngIf='!isCityListAtLimit'>
      <button mat-stroked-button color='primary' (click)='addCity()' [disabled]='!aqi' *ngIf='aqi' class='float-right add-button-spacing'>
        Add this city <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </div>
  
  <div class='col-md-2'>
    <app-indexscale *ngIf='firstSearchInitiated'></app-indexscale>
  </div>
</div>


