<div class='row city-top-spacing'>
  <div class='col-md-5'>
    <app-aqi-card 
      *ngIf='!error'
      [aqi]='aqi' 
      [loading]='loading'
    ></app-aqi-card>
  </div>

  <div class='col-md-5 city-weather-spacing'>
    <app-weather-card
      *ngIf='!error'
      [aqi]='aqi'
      [loading]='loading'
    ></app-weather-card>

    <div *ngIf='cityListNotMaxed'>
      <button mat-stroked-button color='accent' (click)='addCity()' *ngIf='aqi' class='float-right add-button-spacing'>
        Add this city <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </div>
  <div class='col-md-2' *ngIf='aqi'>
    <app-indexscale></app-indexscale>
  </div>
</div>