<mat-card>
  <div *ngIf='aqi; else loading'>
    <mat-card-title>City:</mat-card-title>
    <mat-card-content>{{aqi.data.city}}, {{aqi.data.state}}</mat-card-content>
    <hr>
    <mat-card-title>AQI:</mat-card-title>
    <mat-card-content>{{aqi.data.current.pollution.aqius}}</mat-card-content>
    <hr>
    <mat-card-title>Temperature:</mat-card-title>
    <mat-card-content>{{aqi.data.current.weather.tp}}</mat-card-content>
    <hr>
    <mat-card-title>Humidity:</mat-card-title>
    <mat-card-content>{{aqi.data.current.weather.hu}}</mat-card-content>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <div *ngIf='errorMessage'>
    <p>Error: {{ errorMessage }}</p>
  </div>
</mat-card>