.logo-button {
  margin-right: 5px;
}

.fill-space {
  flex: 1;
}

.angular-navbar {
  position: fixed;
  top: 0;
  z-index: 99;
}

.auth-button {
  margin-top: 20px;
}

.pad-content {
  padding-top: 84px;
}

.fill-page {
  min-height: 100%;
}

.footer {
  padding: 0;
  margin: 60px 0 0 0;
  background: #4fc3f7;
  color: rgba(0, 0, 0, 0.87);
}

.contact-button-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-contact-button {
  margin: 5px 0;
}

.icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.icon-credit {
  font-size: .8em;
  margin: 0;
  float: right;
}

.icon-credit-link {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.87);
}

.icon-credit-link:hover {
  color: whitesmoke;
}