<mat-toolbar color='primary'>
  <a data-test='brand-button' routerLink=''>
    <button mat-raised-button>KOALAty</button>
  </a>

  <button mat-button routerLink='/geo'>Your Geolocation AQI</button>
  <button mat-button routerLink='/search'>Search for Cities</button>
  <button mat-button routerLink='/countries'>Search Countries</button>
  <button mat-button routerLink='/list'>Your Saved List</button>

  <span class="fill-space"></span>

  <!-- Button for users who aren't logged in -->
  <a *ngIf='!auth.isAuthenticated()' data-test='login-button' (click)='auth.login()'>
    <button mat-stroked-button>
      Log In <i class="material-icons">chevron_right</i>
    </button>
  </a>
  
  <!-- Buttons for users who are logged in -->
  <a *ngIf='auth.isAuthenticated()' data-test='logout-button' (click)='auth.logout()'>
    <button mat-stroked-button>Logout</button>
  </a>

  <!-- <i class="material-icons">
    menu
  </i> -->
</mat-toolbar>
<!-- <h1 style='text-align: center; color: red;'>!!! Website still in development !!!</h1> -->
<router-outlet></router-outlet>
