.flex-row {
  display: flex;
}

.space-fill {
  flex: 1;
}

.edit-button {
  margin-bottom: 20px;
}

.aqi-delete-city-button {
  margin-bottom: 10px;
}

.aqi-city-row {
  margin-bottom: 60px;
}

.aqi-add-city-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.add-countries-button {
  margin-right: 5px;
}