<p>
  list works!
</p>

<p>{{id}}</p>

<div *ngIf='test'>
  <p>{{test.userId}}</p>
</div>

<mat-button-toggle (click)='toggleEdit()'>Edit</mat-button-toggle>

<div *ngIf='test'>
  <div *ngFor='let city of test.cities'>
    <p>{{city.city}}, {{city.state}}, {{city.country}}</p>
  </div>
</div>

<div *ngIf='aqiTest'>
  <p>{{aqiTest.data.current.pollution.aqius}}</p>
</div>

<div>
  <div *ngFor='let city of aqiCities'>
    <p>{{city.data.city}}, {{city.data.country}}, temperature: {{city.data.current.weather.tp}}, aqi: {{city.data.current.pollution.aqius}}</p>
    <button mat-stroked-button color='accent' (click)='deleteCity(city)' *ngIf='canEdit'>Delete City</button>
  </div>
</div>

<a routerLink='addcity' *ngIf='canEdit'>
  <button mat-stroked-button color='primary'>
    Get City AQI
  </button>
</a>