form {
  margin: 30px 0 50px 0;
}

.city-search-input {
  width: 100%;
}

.city-search-flex {
  display: flex;
  justify-content: center
}

.search-button {
  margin: 10px 0;
}

button:disabled {
  cursor: not-allowed;
}