<mat-card [ngClass]='aqiColorClass'>
  <div *ngIf='aqi'>
    <mat-card-title>City:</mat-card-title>
    <mat-card-content>{{aqi.city}}, {{aqi.state}}, {{aqi.country}}</mat-card-content>
    <hr>
    <mat-card-title>Air Quality Index (AQI)</mat-card-title>
    <mat-card-content>{{aqi.current.pollution.aqius}}</mat-card-content>
  </div>
  <div *ngIf='loading'>
    <mat-spinner></mat-spinner>
  </div>
</mat-card>

<mat-card *ngIf='aqi'>
  <mat-card-title>Temperature:</mat-card-title>
  <mat-card-content>
    <span *ngIf='isFahrenheitSelected'>{{tempInFahrenheit}}</span>
    <span *ngIf='!isFahrenheitSelected'>{{tempInCelsius}}</span> 

    <button mat-icon-button (click)='toggleTemp()' class='gray'>
      <span [class.selectedText]="isFahrenheitSelected">&deg;F</span>
      /
      <span [class.selectedText]="!isFahrenheitSelected">&deg;C</span>
    </button>
  </mat-card-content>

  <hr>
  <mat-card-title>Pressure:</mat-card-title>
  <mat-card-content>{{aqi.current.weather.pr}} hPa</mat-card-content>
  <mat-card-title>Wind Speed</mat-card-title>
  <mat-card-content>
    <span *ngIf='isMphSelected'>{{windSpeedInMiles}}</span>
    <span *ngIf='!isMphSelected'>{{windSpeedInKilometers}}</span> 

    <button mat-button (click)='toggleWindSpeed()' class='gray'>
      <span [class.selectedText]="isMphSelected">mph</span>
        /
      <span [class.selectedText]="!isMphSelected">kmph</span>
    </button>
  </mat-card-content>

  <hr>
  <mat-card-title>Humidity:</mat-card-title>
  <mat-card-content>{{aqi.current.weather.hu}}%</mat-card-content>
  <img src="../../assets/images/weather-icons/{{aqi.current.weather.ic}}.png" alt="current weather icon" style='width: 50px; height: 50px;'>
</mat-card>