.aqi-card {
  height: 325px;
  margin-bottom: 10px;
}

.aqi-flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aqi-city {
  text-align: center;
}

.aqi-number {
  font-size: 7em;
  text-align: center;
}

.aqi-subtitle {
  color: rgb(145, 145, 145);
  text-align: center;
}