/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
  background: #1DE9B6;
  color: black;
}

.red-snackbar {
  background: #B00020;
  color: black;
}

.mat-simple-snackbar-action {
  color: black !important;
}