/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {outline:0;}

/* Snackbar styles */
.green-snackbar {
  background: #d4edda;
  color: black;
}

.red-snackbar {
  background: #f8d7da;
  color: black;
}

.blue-snackbar {
  background: #cce5ff;
  color: black;
}

.mat-simple-snackbar-action {
  color: black !important;
}

/* Aqi Index Scale Colors */
.good {
  background-color: rgb(229,246,207);
}

.moderate {
  background-color: rgb(254,243,201);
}

.sensitive {
  background-color: rgb(255,225,205);
}

.unhealthy {
  background-color: rgb(255,210,210);
}

.very-unhealthy {
  background-color: rgb(229,215,235);
}

.hazardous {
  background-color: rgb(229,213,218);
}

.aqi-spinner {
  margin: 75px auto;
}