
<form [formGroup]="searchForm" novalidate>
  <div>
    <mat-form-field>
      <input matInput #testGooglePlaces autocorrect="off" formControlName="location" placeholder="Search for a City">
    </mat-form-field>
    <button mat-stroked-button (click)='search()'>Get City AQI</button>
  </div>
</form>


<div>
    google places location test
    <div *ngIf='location'>
      {{location.vicinity}}
    </div>
</div>


<mat-card>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-card-title>City:</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <div *ngIf='city; else loading'>
          {{city}} 
        </div>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-title>AQI:</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <div *ngIf='aqi; else loading'>
          {{aqi}}
        </div>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div *ngIf='error'>
  <p>Error: {{ error }}</p>
</div>
