<!-- Search for a city -->
<app-city-search
  (aqi)='onAqi($event)'
  (firstSearchInitiated)='onFirstSearchInitiated($event)'
  (loading)='onLoading($event)'
  (error)='onError($event)'
></app-city-search>

<div class='alert alert-danger' role='alert' *ngIf='error'>
  Oops! Try a different major city or try looking for a city in the <a routerLink='/countries'>countries page</a>.
</div>

<!-- Display when no city has been searched -->
<mat-card *ngIf='!firstSearchInitiated'>
  <h3>
    Search for a major city to see the air quality index. If there are no results for the city you are searching for,
    try searching for a city in the <a routerLink='/countries'>countries page</a>.
  </h3>
</mat-card>

<!-- Display when request for AQI and city have been made and show the results -->
<div class='row' *ngIf='!error'>
  <div class='col-md-5'>
    <app-aqi-card 
      *ngIf='firstSearchInitiated'
      [aqi]='aqi' 
      [loading]='loading'
    ></app-aqi-card>
  </div>

  <div class='col-md-5 search-weather-spacing'>
    <app-weather-card
      *ngIf='firstSearchInitiated'
      [aqi]='aqi'
      [loading]='loading'
    ></app-weather-card>

    <div *ngIf='cityListNotMaxed'>
      <button mat-stroked-button color='accent' (click)='addCity()' *ngIf='aqi' class='float-right add-button-spacing'>
        Add this city <i class='material-icons'>chevron_right</i>
      </button>
    </div>
  </div>
  
  <div class='col-md-2'>
    <app-indexscale *ngIf='firstSearchInitiated'></app-indexscale>
  </div>
</div>