.search-weather-spacing {
  margin-bottom: 50px;
}

.add-button-spacing {
  margin-top: 50px;
}

a, a:hover {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

.icon-row {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.info-icon {
  color: #4fc3f7;
}