.my-headers-align .mat-expansion-panel-header-title, 
.my-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.test {
  min-width: 275px;
  max-width: 500px;
}

mat-panel-description, mat-panel-title {
  color: black;
}

.sensitive-number-align {
  align-items: center;
}

.index-1 {
  border: 2px solid rgb(168, 224, 95);
  background: rgba(168, 224, 95, 0.2);
}

.index-2 {
  border: 2px solid rgb(253, 215, 75);
  background-color: rgba(253, 215, 75, 0.2);
}

.index-3 {
  border: 2px solid rgb(254, 155, 87);
  background-color: rgba(254, 155, 87, 0.2);
}

.index-4 {
  border: 2px solid rgb(254, 106, 105);
  background-color: rgba(254, 106, 105, 0.2);
}

.index-5 {
  border: 2px solid rgb(169, 122, 188);
  background-color: rgba(169, 122, 188, 0.2);
}

.index-6 {
  border: 2px solid rgb(168, 115, 131);
  background-color: rgba(168, 115, 131, 0.2);
}