<div class='test'>
  <mat-accordion class="my-headers-align">
    <!-- Panel 1 -->
    <mat-expansion-panel class='index-1'>
      <mat-expansion-panel-header>
        <mat-panel-title>0 - 50</mat-panel-title>
        <mat-panel-description>Good</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Air quality is considered satisfactory, and air pollution poses little or no risk</p>    
    </mat-expansion-panel>
  
    <!-- Panel 2 -->
    <mat-expansion-panel class='index-2'>
      <mat-expansion-panel-header>
        <mat-panel-title>51 -100</mat-panel-title>
        <mat-panel-description>Moderate</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.</p>
    </mat-expansion-panel>
  
    <!-- Panel 3 -->
    <mat-expansion-panel class='index-3'>
      <mat-expansion-panel-header>
        <mat-panel-title class='sensitive-number-align'>101-150</mat-panel-title>
        <mat-panel-description>Unhealthy for Sensitive Groups</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</p>
    </mat-expansion-panel>
  
    <!-- Panel 4 -->
    <mat-expansion-panel class='index-4'>
      <mat-expansion-panel-header>
        <mat-panel-title>151-200</mat-panel-title>
        <mat-panel-description>Unhealthy</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects.</p>
    </mat-expansion-panel>
  
    <!-- Panel 5 -->
    <mat-expansion-panel class='index-5'>
      <mat-expansion-panel-header>
        <mat-panel-title>201-300</mat-panel-title>
        <mat-panel-description>Very Unhealthy</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Health warnings of emergency conditions. The entire population is more likely to be affected.</p>
    </mat-expansion-panel>
  
    <!-- Panel 6 -->
    <mat-expansion-panel class='index-6'>
      <mat-expansion-panel-header>
        <mat-panel-title>300 +</mat-panel-title>
        <mat-panel-description>Hazardous</mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- Inside panel information -->
      <p>Health alert: everyone may experience more serious health effects</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
